.blue-background {
    background-color: rgb(39, 101, 156);
}

.green-background {
    background-color: rgb(62, 140, 83);
}

.grey-background {
    background-color: rgb(215, 215, 215);
}

.orange-background {
    background-color: rgb(194, 120, 60);
}

.pink-background {
    background-color: rgb(187, 86, 133)
}

.teal-background {
    background-color: rgb(121, 172, 179)
}
