@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

$title-font: "Permanent Marker", cursive;

.header {
    height: 3em;

    .headerText {
        font-family: $title-font;
        margin: 0 1em;
    }
}
